@page "/counter"
@using MealForToday.Application
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter: @Sample.ModelName </h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
	public SampleModel Sample = new SampleModel();

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
